.category-group {
    margin: 20px 15px;
}

.add-btn-row {
    margin-bottom: 20px;
    background-color: #F3F3F3 !important;
}

.image-gallery-left-nav, .image-gallery-right-nav {
    font-size: 2em !important;
}

.product-div {
    margin-top: 10px;
}

.add-btn-row .fa-arrow-circle-left {
    font-size: 43px !important;
}

.category-card:hover {
    cursor: pointer;
}

