@import "~react-image-gallery/styles/css/image-gallery.css";

.header-block .navbar {
    background-color: #FFFFFF !important;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) !important;
}

.header-block{
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}