.img-slider {
    margin-top: 100px;
    height: 350px;
}

.carousel.carousel-slider {
    height: -webkit-fill-available !important;
}

.img-slider img {
    width: 100% !important;
    height: 100% !important;
}

